/*hada fih detail design ta3 person component */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  font-family: "Quicksand";
}
body{
  background-color: white;
}
.parent {
  text-align: center; /* Center text horizontally */
  margin: 10% 15%;
}
.rating-years {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* Person styles*/
.Person {
  padding-top: 5%;
  display: flex;
}
.photo-profile {
  height: 150px;
  width: 200px;
}
.information {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 20px;
}
.etiol {
  display: flex;
  flex-direction: row;
}
.Result{
  background-color: white;
  padding-top: 100px;
}