
.lawyer{
  border-top: 3px rgb(102, 99, 99);
  background-color: rgb(234, 244, 246);

}
.mySwiper {
  margin-top: 50px;

  padding-bottom: 200px;
}
.lawyer h1{
  align-items: center;
 position: relative;
  color: rgb(0, 48, 91);
  margin-left: 500px;

}
.car{
  margin-top: 20px;
  margin-bottom: 50px;
}
.barrier{
  margin-bottom: 30px;
  width: 100%;
  height:3px;
  background-color: white;
}
a{
  text-decoration: none;
  color: rgb(0, 48, 91);
}